section#main.page.page-0.js-page.is-show
    .container.container_page-0.js-parallax-page-0
        .page-0__decor.js-parallax-page-0
            .page-0__money.js-parallax-bg
        .content__center
            a.logo(href="https://novex.ru" target="_blank") Novex
                span.logo-en
                span.logo-sip
                span.logo-ru
            .content__subtitle с 1 декабря 2020 по 11 января 2021
        .content__box
            .content.content__left
                .page-0__text
                    .page-0__head
                        span.page-0__buy Купи
                        span.page-0__sip на
                        span.page-0__price
                            span.page-0__price-value 259
                            span.page-0__price-cur ₽
                    .page-0__products-text Colgate, Palmolive, Lady Speed Stick, Mennen Speed Stick
                    .page-0__products-img
                        img(
                            src='img/page0/products.png'
                            alt='Colgate, Palmolive, Lady Speed Stick, Mennen Speed Stick'
                        )
            .content.content__right
                .page-0__wrap
                    .page-0__title Выиграй
                    .page-0__watch
                        .page-0__watch-img
                            img(
                                src='img/page0/watch.png'
                                alt='Apple Watch'
                            )
                        .page-0__watch-text Смарт-часы каждую неделю
                    .page-0__prize
                        .page-0__prize-data
                            .page-0__prize-count
                                .page-0__prize-count-inner 4
                                .page-0__prize-count-shadow 4
                            .page-0__prize-text
                                .page-0__prize-more а еще
                                .page-0__prize-final в финале
                                .page-0__prize-super суперприза!
                        .page-0__prize-img
                            img(
                                src='img/page0/joystick.png'
                                alt='DualSense — беспроводной контроллер для PlayStation 5'
                            )




        .page-0__button
            a(href='#register').button.js-scroll-link Участвовать

